.cover__title {
	margin: 0;
	max-width: 560px;
	font-weight: 900;
	font-size: 72px;
	text-align: center;
	line-height: 1;
	z-index: 1;
}

@media screen and (max-width: 620px) {
	.cover__title {
		font-size: 45px;
	}
}


@media screen and (max-width: 425px) {
	.cover__title {
		font-size: 32px;
		line-height: 35px;
		max-width: 240px;
	}
}